
.container {
  margin: 0 var(--flexMargin);
}

.artistImg {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
  -webkit-user-drag: none;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--cardWith), 1fr));
}

.artistItem {
  padding: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 8px;
  background-color: #181818;
}

.artistItem:hover {
  cursor: pointer;
  background-color: #414141;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.artistsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--cardWith), 1fr));
  gap: 12px;
}

.navigate {
  text-align: start;
}
.navigate:hover {
  cursor: default;
}

.click:hover {
  cursor: pointer;
  text-decoration: underline;
}

.artistPost {
  max-width: 400px;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.btnSpo {
  background-color: #000000;
  border: none;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #000000;
}

.btnSpo:hover {
  border: 3px solid #2ebd59;
  color: #2ebd59;
  cursor: pointer;
  transition: border 200ms linear;
}