.imgPoster {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  -webkit-user-drag: none;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

@media (max-width: 600px) {
  .listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .imgPoster {
    width: 100px;
    height: 100px;
  }
}

.container {
  margin-top: 100px;
}

.trackItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.trackItem:hover {
  cursor: pointer;
}

.trackItem img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.trackItem > div {
  flex-grow: 1;
  text-align: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.trackItem h3 {
  margin: 0;
}

.trackItem h4 {
  margin: 0;
}