:root {
  --imgWidth: 250px;
  --flexMargin: 64px;
  --marginFlex: 64px;
  --heightCont: 340px
}

.flex {
  height: 100%;
  display: flex;
  align-items: end;
  padding: 0 var(--flexMargin);
}

.header {
  display: flex;
  padding-bottom: 20px;
  align-items: flex-end;
  min-height: var(--heightCont);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background-color: grey;
}

.link {
  text-decoration: none;
  color: inherit;
}

.profileImg {
  border-radius: 50%;
  -webkit-user-drag: none;
  width: var(--imgWidth);
  height: var(--imgWidth);
  margin-right: 24px;
}

.title {
  font-size: 45px;
  font-size: clamp(2.0rem, 9vw, 6rem);
}

.title:hover {
  cursor: pointer;
  color: #2ebd59;
}

.header_name {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: flex-end;
}

.header_name p {
  margin-bottom: 0; 
}

@media (max-width: 700px) {
  :root {
    --imgWidth: 140px;
    --flexMargin: 24px;
    --heightCont: 260px;
  }
}

@media (max-width: 500px) {
  :root {
    --imgWidth: 140px;
    --flexMargin: 16px;
    --heightCont: 210px
  }
}

@media (max-width: 400px) {
  :root {
    --imgWidth: 120px;
    --flexMargin: 16px;
    --heightCont: 210px
  }
}