:root {
  --imgWidth: 250px;
  --flexMargin: 64px;
  --marginFlex: 64px;
  --heightCont: 340px
}

.container {
  padding: 0 var(--flexMargin);
  margin: 0 auto;
}

.trackItem {
  display: grid;
  gap: 8px;
  grid-template-columns: 20px 4fr 2fr minmax(60px, 1fr);
  text-align: start;
  font-size: 16px;
}

.trackName {
  display: flex;
  flex-direction: row;
  text-align: start;
  align-items: center;
}
.trackName img{
  margin-right: 12px;
}
.trackAlbum {
  display: flex;
  align-items: center;
}

.trackAlbum p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  max-width: 130px;
}

.trackItem:hover {
  cursor: pointer;
}

.trackItem img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


.trackItem h3 {
  margin: 0;
}

.trackItem h4 {
  margin: 0;
}
.listContainer {
  display: grid;
  gap: 12px;
}