.trackItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.trackItem:hover {
  cursor: pointer;
}

.trackItem img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.trackItem > div {
  flex-grow: 1;
  text-align: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.trackItem h3 {
  margin: 0;
}

.trackItem h4 {
  margin: 0;
}