.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.main {
  flex-grow: 1;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .main {
    margin-bottom: 50px;
  }
}